<script>
  import { onMount } from "svelte";
  export let date;

  onMount(async () => {
    const res = await fetch("/api/date");
    const newDate = await res.text();
    date = newDate;

    console.log('Booting up Intercom')
     window.Intercom('boot', {
      app_id: 'hkashz51',
    });

    console.log('Updating intercom')
    window.Intercom("update");
  });
</script>

<main>
  <h1>Michael's App</h1>
  <h2>
    Welcome to Michael's App. Make yourself at home. Take a load off. Would you like some coffee?
  </h2>
  <p>
    <a
      href="https://github.com/zeit/now/tree/master/examples/svelte"
      target="_blank"
      rel="noreferrer noopener">
      This project
    </a>
    is a
    <a href="https://svelte.dev/">Svelte</a>
    app with three directories.  
    
    Visit
    <a href="/api/date">
      <code>api/date</code>
      for the Date API with Node.js
    </a>
    .
  </p>
  <br />
  <h2>The date is:</h2>
  <p>{date ? date : 'Loading date...'}</p>
</main>
